.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffffff;
    top: 0;
    position: fixed;
    width: 100%;
    height: 6vh;
    min-height: 90px; 
    justify-content: center;
    padding-top: 10px;
    z-index: 3;
}

.arup_logo_container{
    grid-column-start: 2;
    margin: auto;
}

.navbar_title{
    /* color: #e61e28; */
    text-decoration: none;
    font-size: 180%;
    font-weight: 400;
}

.burger_button_container{
    grid-column-start: 3;
    display: grid;
    justify-content: right;
    align-content: center;
}

