.project_tables_container {
  display: grid;
  justify-content: center;
}

table {
  border-right: hidden;
  border-collapse: collapse;
  width: 90vw;
}

th:not(.lock_column){
  border: 1px solid black;
  border-collapse: collapse;
  width: 90vw;

  background-color: #d1d1d1;
  text-align: left;
  padding: 3px;
  border-top: 1px solid black;
}

td:not(.lock_column) {
  border: 1px solid black;
  border-collapse: collapse;
  width: 90vw;
  
  text-align: left;
  padding: 3px
}


/* .lock_column{
  border-right: none;
  border-top: none;
  border-right-style: none;
} */



/* tr:nth-child(even){background-color: #f2f2f2} */

td {
  padding: 3px;
}


.project_table_container table thead tbody{
  display: flex;
  flex-direction: column;
}


 

@media only screen and (max-width: 1024px){

  .project_table_container {
    overflow-x: auto;
  }
  
  table{
    border-right: hidden;
    border-collapse: collapse;
    width: 1080px;
  }

  th, td {
    width: fit-content;
  }

  .lock_column{
    border-right: none;
    border-top: none;
    border-right-style: none;
  }

}
