.element{
  --navbarHeight: 400px;
}

.projects_page {
  margin-top: 80px;
  margin-left: 15%;
  margin-right: 15%;
}

.proj_list_display{
  display: flex;
}

.proj_list_display{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  background-color: white;
  border-top: solid 1px #d1d1d1;
  /* overflow-y: scroll; */
  margin-bottom: 50px;
}

.footer{
  /* background-color: rgb(201, 201, 201); */
  background-color: white;
  position:fixed; 
  bottom:0px; 
  height:30px; 
  left:0px; 
  right:0px; 
  overflow:hidden;
  flex-shrink: 0;
}
