/* @media only screen and (max-width: 600px){ */
  .project_card{
      margin: 10px 0px;
      display: grid;
      width: 100vw;
      height:fit-content;
      grid-template-rows: auto auto auto auto;
      padding: 20px;
      background-color: white;
      border-top: 1px solid #d1d1d1;
      transition: 0.2s;
    }

    .project_link{
      text-decoration: none;
      color: rgba(0,0,0);
      margin: 0px;
    }
   
    
    .project_card img{
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
    
    .project_card button{
      border: none;
      background-color: #ffffff;
      color: black;
      transition: 0.2s;
    
    }
    .project_card button:hover{
      border: none;
      background-color: #ffffff;
      color: #e61e28;
      transition: 0.2s;
    }
  /* } */

@media only screen and (min-width: 600px){
    
    .project_card{
        margin: 10px;
        display: grid;
        width: 300px;
        height: 250px;
        grid-template-rows: auto auto auto auto;
        padding: 20px;
        background-color: white;
        box-shadow:0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
        border-radius: 2px;
        transition: 0.2s;
      }
      .project_card:hover{
        box-shadow:0 1px 1px rgba(0,0,0,0.3),0 2px 2px rgba(0,0,0,0.3),0 4px 4px rgba(0,0,0,0.3),0 8px 8px rgba(0,0,0,0.3);
      }
     
      .project_card_item_name{
        margin: 0px;
        font-size: 110%;
        font-weight: 400;
      }

      .project_card img{
        padding-top: 10px;
        max-width: 100%;
      }
      
      .project_card button{
        border: none;
        color: black;
        transition: 0.2s;
        justify-self: flex-end;
      }
      .project_card button:hover{
        border: none;
        background-color: #ffffff;
        color: #e61e28;
        transition: 0.2s;
      }
    }


